@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@300&family=Overpass:ital,wght@0,400;1,100&family=Poppins:wght@200;400&display=swap");

.App {
  text-align: center;

  font-family: "Noto Sans", sans-serif;
  position: relative;

  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


/* For SearchForm Component */
.searchForm {
  background-color: linen;
  padding: 25px 10px;
}

.searchInput {
  padding: 10px 15px;
  border: 0;
  border-radius: 15px;
}
