.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* For Navbar Component */

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  list-style: none;
  padding: 20px 10px;
}

/* For HomeRecipe Component */

.recipegrid {
  background-color: red;
  width: 250px;
  height: 400px;
}

/* For SearchForm Component */
.searchForm {
  background-color: linen;
  padding: 25px 10px;
}
